taskcat_outputs/*

#amplify
source/amplify/\#current-cloud-backend
source/amplify/.config/local-*
source/amplify/logs
source/amplify/mock-data
source/amplify/backend/amplify-meta.json
source/amplify/backend/awscloudformation
source/amplify/backend/.temp
source/amplify/team-provider-info.json
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
source/.vscode